/* global css */
:root {
    --paste: #0F556B;
    --gray: #E4E4E4;
    --dark-gray: #707070;
    --dark: #323232;
    --red: #FC3144;
}
*{
    font-family: "Outfit", sans-serif;
}
body{
    overflow-x: hidden;
}
/* Custom Utilites */
h2{
    color: var(--dark);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3rem;
    margin: 0;
}
h3{
    color: var( --dark );
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4rem;
}
h4{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 600;
}
h5{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--dark);
}
p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 0px;
}
.btn-red{
    color: var(--red);
}
.btn-red:hover{
    color: var(--dark);
}
.h-outline{
    position: relative;
    padding-bottom: 20PX;
}
.h-outline::before{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    width: 150px;
    height: 2px;
    background: var(--red);
}
.line{
    width: 100%;
    height: 1px;
    background: var(--dark-gray);
}
/* Header */
.header{
    
}
.header-logo{
    max-width: 115px;
}
/* Header ~ header search */
.header-search{
    min-width: 50%;
}
.header-search .search-input{
    padding: 0.7rem !important;
}
.header-search .search-btn{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.navbar-nav-red li a{
    color: var(--dark);
}
.navbar-nav-red li:hover a,
.navbar-nav-red li a.active{
    color: var(--red) !important;
}
/* Banner Section  */
.banner-section .banner-inner{
    min-height: 350px;
}
.banner-inner .banner-paste{
    background-color: var(--paste);
    min-height: 200px;
}
.banner-inner .banner-gray{
    background-color: var(--gray);
    min-height: 200px;
}
.banner-inner .banner-door{
    background: url('../img/store-banner-door.png') center bottom no-repeat;
    background-color: var(--gray);
    background-size: cover;
    min-height: 200px;
}
.banner-inner .banner-sofa{
    background: url('../img/store-banner-sofa.jpg') center center no-repeat;
    background-color: var(--gray);
    background-size: cover;
    min-height: 200px;
}

/* Categories Section  */
.categories-section .ad .wholesale{
    background: url('../img/fire-cracker.jpg') center center no-repeat;
    background-size: cover;
}
.wholesale p{
    transform: rotateZ(-90deg);
}
.wholesale img{
    max-width: 100px;
}
.villa{
    background: url('../img/villa.jpg') center center no-repeat;
    background-size: cover;
    min-height: 405px;
}

/* Categories Section ~ Swiper Categories */
.categories-section ul.categories{
}
.categories.swiper-wrapper{
    padding-left: 0px;
}
ul.categories li img{
    max-height: 250px;
    margin-bottom: 15px;
}
ul.categories li h4{
    color: var(--dark);
}
.categories-section .swiper-button-next, .swiper-button-prev{
	background: var(--paste);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px #fff;
}
.categories-section .swiper-button-next::after, .swiper-button-prev::after {
	font-size: 20px;
    color: #fff;
}

/* Shop By Category Section */
section.shop-by-category-section{
    padding: 30px 0px;
}

.all-categories img{
    margin-bottom: 15px;    
}

/* Inspiration Section  */
section.inspiration-section{
    padding: 30px 0px;
}
.max-w-620{
    max-width: 620px;
}

/* New Arrivals Section  */
section.new-arrivals-section{
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    padding: 30px 0px; 
}

/* Footer  */
footer{
    padding: 30px 0px 20px 0px;
    max-width: 1140px;
    margin: auto;
}
footer .social-links li{
    height: 40px;
    width: 40px;
    border: 2px solid var(--dark-gray);
    border-radius: 50%;
    text-align: center;
}
footer .social-links li a{
    line-height: 37px;
    color: var(--dark-gray);
}
footer .social-links li:hover{
    background: var(--dark-gray);
}
footer .social-links li:hover a{
    color: var(--bs-white);
}
.footer-list a{
    color: var(--dark);
    font-size: 15px;
}
.footer-list li:hover a{
    color: var(--red);
}


/* Media Queries  */

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 
    h2{
        font-size: 36px;
    }
    .header-search{
        width: auto !important;
    }
    section.banner-section .banner-inner{
        min-height: 500px;
    }
    .wholesale img{
        max-width: 160px;
    }
    section.shop-by-category-section{
        padding: 50px 0px;
    }
    section.inspiration-section{
        padding: 50px 0px;
    }
    section.new-arrivals-section{
        padding: 50px 0px;
    }
    footer{
        padding: 50px 0px 20px 0px;
    }
}

@media (min-width: 992px) { 
    .wholesale img{
        max-width: 220px;
    }
}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

}